.atividades {
    width: 780px;
    height: 371px;
    border: 1px solid var(--fundo-card);
    margin-left: 153px;
    margin-top: 14px;
    border-radius: 16px;
    background: var(--fundo-card);
}

.atividades-card {
    display: flex;
    flex-direction: column;
}

.atividades-card-titulos {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 24px;
    gap: 5px;
}

.titulo_1 {
    font-size: 20px;
    font-weight: 600;
    color: var(--texto-primario);
}

.titulo_2 {
    font-size: 14px;
    font-weight: 500;
    color: var(--primario);
}

.atividades-card-titulos-2 {
    display: flex;
    margin-top: 13px;
    margin-left: 24px;
    align-items: center;
}

.texto_1 {
    font-size: 14px;
    font-weight: 400;
    color: var(--texto-secundario);
    padding-right: 4px;
}

.texto-2 {
    font-size: 14px;
    font-weight: 400;
    color: var(--texto-secundario);
    margin-left: 0;
}

.atividades-card-conteudo {
    display: flex;
    margin-top: 8px;
    margin-left: 24px;
    gap: 8px;
    align-items: center;
}

.img-1 {
    width: 64px;
    height: 64px;
}

.atividades-card-conteudo-texto {
    font-size: 14px;
    font-weight: 400;
    color: var(--texto-primario);
    text-align: justify;
    margin-right: 24px;
}

.atividades-card-reacoes {
    display: flex;
    margin-top: 5px;
    margin-left: 24px;
    align-items: center;
}

.reacoes-numero {
    font-size: 12px;
    font-weight: 400;
    color: var(--texto-secundario);
    padding-left: 5px;
}

.reacoes-comentarios {
    font-size: 12px;
    font-weight: 400;
    color: var(--texto-secundario);
    margin-left: 599px;
}

.linha-atividade {
    width: 734px;
    height: 1px;
    background: var(--texto-secundario);
    margin-top: 10px;
}

.ativiade-rodape {
    font-size: 14px;
    font-weight: 500;
    color: var(--texto-secundario);
    margin: 0 305px;
}