.card-lateral-1 {
    width: 320px;
    height: 546px;
    border: 1px solid var(--fundo-card);
    background-color: var(--fundo-card);
    margin-right: 154px;
    margin-top: 24px;
    margin-left: 32px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}

.card-titulo {
    font-size: 16px;
    font-weight: 700;
    color: var(--texto-primario);
    margin-top: 16px;
    margin-left: 16px;
}

.card-conteudo {
   display: flex;
   justify-content: center;
   margin-top: 18px;
   margin-left: 16px;
   gap: 6px;
   align-items: center;
}

.nome-card {
    font-size: 14px;
    font-weight: 700;
    color: var(--texto-primario);
}

.descricao {
    font-size: 12px;
    font-weight: 400;
    color: var(--texto-secundario);
}

.conteudo-textos {
    gap: 2px;
}

.botao-card {
    margin-left: 69px;
    margin-right: 97px;
    margin-top: 3px;
    border: 1px solid var(--texto-primario);
    padding: 7px 16px;
    font-size: 14px;
    border-radius: 16px;
    font-size: 14px;
    font-weight: 700;
    color: var(--texto-primario);
    text-decoration: none;
}

.cards-laterais-2 {
    width: 320px;
    height: 546px;
    border: 1px solid var(--fundo-card);
    background-color: var(--fundo-card);
    margin-right: 154px;
    margin-top: 579px;
    margin-left: 32px;
    border-radius: 16px;
    display: flex;
 
}