.destaques {
    display: flex;
    flex-direction: column;
    width: 780px;
    height: 312px;
    background: var(--fundo-card);
    margin-left: 153px;
    margin-top: 8px;
    border-radius: 16px;
}

.destaques-titulo {
    font-size: 20px;
    font-weight: 600;
    color: var(--texto-primario);
    margin-top: 17px;
    margin-left: 23px;
}

.destaques-publicacoes {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    gap: 5px;
}

.destaques-publicacoes-card {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    width: 236px;
    height: 236px;
    border: 1px solid var(--texto-secundario);
    border-radius: 8px;
}

.destaques-publicacoes-card-textos {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.texto-1 {
    font-size: 12px;
    font-weight: 400;
    color: var(--texto-secundario);
    margin-top: 12px;
    margin-left: 14px;
}

.texto-2 {
    font-size: 14px;
    font-weight: 400;
    color: var(--texto-secundario);
    margin-left: 14px;
}

.imagem-destaque {
    width: 100%;
   height: 152px;
   object-fit: cover;
}

.destaques-publicacoes-card-rodape {
    display: flex;
    margin-top: 8px;
    align-items: center;
}

.imagem-destaque-rodape {
    padding:  0 4px;
}

.numero {
    font-size: 12px;
    font-weight: 400;
    color: var(--texto-secundario);
    margin-right: 90px;
}

.comentario {
    font-size: 12px;
    font-weight: 400;
    color: var(--texto-secundario);
}

