.navbar {
    background-color: var(--fundo-card);
    display: flex;
    justify-content: space-around;
    height: 52px;

}

.navbar-busca {
    display: flex;
    align-items: center;
    width: 370px;
    position: relative;
}

.navbar-logo-linkedin {
    background-image: url(../icones/logo-linkedin.svg);
    width: 34px;
    height: 34px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    margin-right: 8px;
}

.navbar-busca-icone {
    background-image: url(../icones/icone-busca.svg);
    width: 24px;
    height: 24px;
    position: absolute;
    left: 50px;
}

.navbar-input {
    width: 280px;
    height: 34px;
    background-color: var(--cor-imput);
    border-radius: 4px;
    border: none;
    padding-left: 38px;
    
}